<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Insert title here</title>
    <script type="text/javascript">

    $.ajxa({
        url:"",
        type:"POST",
        susscess:function (data) {

        }
        
    })
</script>
</head>
<body>
        <form method="post" action="lo/la">
        <input type="text" name="">
        <input type="password" name="password">
            <button>登录</button>
            <a>忘记密码</a>
            <p/>
            <a href="login.html">注册</a>

        </form>
</body>
</html>